@keyframes header-slide-in {
    0% {
        transform: translate(-33%, 0);
    }
    50% {
        text-shadow: 2px 2px 40px $color-light;
        opacity: 0%;
    }
    100% {
        transform: translate(0%, 0);
        opacity: 100%;
        color: $color-light;
    }
}

@keyframes content-appear {
    form {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}