@media screen and (max-width: 600px) {
    .header-main > span {
        font-size: 8 * $size-unit;
    }
    h1 {
        font-size: 4 * $size-unit;
    }
    .languages .button1 {
        flex-basis: 100%;
        margin: 0.5 * $size-unit;
    }   
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .header-main > span {
        font-size: 10 * $size-unit;
    }
    h1 {
        font-size: 5 * $size-unit;
    }
    .languages .button1 {
        flex-basis: 50% - 2 * $size-unit;
        margin: $size-unit;
    }
}
@media screen and (min-width: 1025px) {
    .languages .button1 {
        flex-basis: 33% - 2 * 2 *$size-unit;
        margin: 2 * $size-unit;
    }
}